body{
    padding: 0px;
    margin: 0px;
}
a:link{
    text-decoration: none;
    color: black;

}
a:visited{
    color: black;
}
.parentContainer{
    height: 99vh;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
nav{
    height: 15%;
    width: 100vw;
    background-color: sienna;
}
.header{
    padding: 10px;
    float: left;
    font-size: 32px;
    width: auto;
}
.links{
    float:right;/* content mirror is observed*/
    padding: 10px 10px 10px 10px;
    margin: 40px 15px 0px 5px;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}
h2{
    font-size: 28px;
    margin-top: 0px;
    padding-top: 15px;
}
.body{
    text-align: center;
    background-image: linear-gradient(45deg ,turquoise,rgb(214, 193, 0),turquoise);
    margin-top: 0px;
    height:100vh;
}
.body div{
    padding: 2vh;
    font-size: 22px;
}
input{
    width: 20%;
    height: 7%;
    border-radius: 8px;
    background-color:black;
    color: rgb(172, 55, 1);
    color: turquoise;
    font-weight: 5500;
    font-size: 18px;
    border: 1px solid black;
}
button{
    width: 6%;
    height: 7%;
    margin: 15px 0px 25px 0px;
    border-radius: 8px;
    background-color: goldenrod;
    cursor: pointer;
}
#output{
    font-size: 24px;
    background-color: goldenrod;
    background-image: linear-gradient(to right,slateblue,turquoise,slateblue);
    width: 30vw;
    font-weight: 500;
    border-radius: 5px;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;

}
@keyframes example{
 0%{
    position: absolute;
    left: 0vw;
 }
 25%{
    position: absolute;
    left: 25vw;
 }
 50%{
    position: absolute;
    left: 50vw;
 }
 75%{
    position: absolute;
    left: 75vw;
 }
 100%{
    position: absolute;
    left: 98.5vw; /* container width is 99vw  */
    transform: translateX(-30vw); /*bcoz 15vw is width of span. */
 }
}
.quizparentContainer{
    height:auto;
    padding: 0px;
    margin: 0px;
    width: auto;
    overflow-x: hidden;
}
.quizbody{
    background-color: teal;
    background-image: linear-gradient(45deg ,turquoise,rgb(214, 193, 0),turquoise);
    text-align: center;
    width: auto;
    height: max-content;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.quizbody input{
    height: 2.5%;
    margin-right: 5px;
    width: 2.5%;

}
.quizbody div{
    font-size: 20px;

}
.quizbody button{
    width: 10%;
    height:7vh;
    margin: 30px 0px 30px 0px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;

}
.options{
    width: 40%;
    margin-top: 5px;
    text-align: left;
    padding-left: 25%;
}
.options span{
    width:10%;
    
}
.questions{
    margin: 15px 0px 0px 0px;
    background-color: teal;
    text-align: left;
    padding-left: 25%;
    font-weight: 500;
}
